body{
    margin: 0;
    background-color: #101010;
}

.navbar{
    background-color: #609EA2;
    height: 80px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
}

.navbar ul .anchor{
    position: relative;
    color: aliceblue;
    margin: 0 20px;
    font-size: 20px;
    font-family: sans-serif;
    transition: 0s color;
}

.navbar ul .anchor:after{
    content: "";
    position: absolute;
    height: 3px;
    width: 100%;
    top: -10px;
    left: 0;
    background-color: #C92C6D;
    transition: 0.4s;
}

.navbar ul .anchor:hover{
    color: #50577A;
    transition: 0.4s;
}
.navbar ul .anchor:hover:after{
    top:25px;

}

/* Expanding cards css starts from Here */

@import url('https://fonts.googleis.com/css?family=Muli&display=swap');


*{
  box-sizing: border-box;
}

.body-main{
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}


.container{
  display: flex;
  width: 90vw;
}

.panel{
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin: 10px;
  height: 70vh;
  border-radius: 50px;
  color: #fff;
  flex: 0.5;
  position: relative;
  transition: flex 0.7s ease-in;
}

.panel h3{
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 40%;
  margin:0;
  opacity: 0;
}

@media only screen and (min-width: 600px) {
  body {
    width: 70vw;
  }
}

.panel.active{
  flex:4;

}


.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width:500px) {
  .container{
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5){
    display: none;
  }
}
